.myMenu{
    height: 200px;
    width: 400px;
    position: relative;
    top: 600px;
    left: 100px;
}

.myAttack{
position: relative;
top: 75px;
}

.myPokemonChange{
    position: relative;
    top: 75px;
    left: 150px;
}

.myPokemonpic{
    height: 100px;
    width: 100px;
    position: relative;
    top: 450px;
    left: 100px;
}

.myToolCard{
    position: relative;
    height: 100px;
    width: 400px;
    top: 250px;
    left: 1400px;
}

.bar{
    position: relative;
    top: 20px;
    right: 50px;
}

.opPokemonpic{
    height: 100px;
    width: 100px;
    position: relative;
    left: 1400px;
    bottom: 400px;
   
}

.opToolCard{
    position: relative;
    height: 100px;
    width: 400px;
    bottom: 400px;
    left: 50px;
}

.opbar{
    position: relative;
    top: 20px;
    right: 50px;
}