
<!-- <img [src]="myTeam[0].sprites.back_default" alt=""> -->
<div class="myPokemonpic"><img [src]="battle.getPlayer().currentPokemon!.sprites.back_default" alt=""></div>
<mat-card class="myMenu">
    <mat-card-actions>
      <button (click)='attack()'class="myAttack" mat-button>ATTACK</button>
      <button (click)="openBottomSheet()" class="myPokemonChange"mat-button>CHANGE POKEMON</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="myToolCard">
    <mat-card-actions>
        <mat-card-title>{{battle.getPlayer().currentPokemon!.name}}</mat-card-title>
        <mat-progress-bar class="bar" mode="determinate" [value]="100 / (battle.getPlayer().currentPokemon!.stats[0].base_stat) * (battle.getPlayer().currentHP)"></mat-progress-bar>
           <mat-card-footer class="bar">{{battle.getPlayer().currentHP}}/{{battle.getPlayer().currentPokemon!.stats[0].base_stat}}</mat-card-footer>
    </mat-card-actions>
  </mat-card>

  <div class="opPokemonpic"><img [src]="battle.getEnemy().currentPokemon!.sprites.front_default" alt=""></div>
  <mat-card class="opToolCard">
    <mat-card-actions>
        <mat-card-title>{{battle.getEnemy().currentPokemon!.name}}</mat-card-title>
        <mat-progress-bar class="opbar" mode="determinate" [value]="100 / (battle.getEnemy().currentPokemon!.stats[0].base_stat) * (battle.getEnemy().currentHP)"></mat-progress-bar>
           <mat-card-footer class="opbar">{{battle.getEnemy().currentHP}}/{{battle.getEnemy().currentPokemon!.stats[0].base_stat}}</mat-card-footer>
    </mat-card-actions>
  </mat-card>
  